.titleElement {
	padding:30px 30px 10px 50px;
}

.titleElement h2 {
    line-height: 0;
}



/* titleElement */
.titleElement {
 /*    position: absolute;
    padding-left: 12px; */
/*     border-left: 3px solid #e41b23; */
    z-index: 99;
}

.titleElement h1 {
    font-family: 'helveticaneueBold';
    font-size: 50px;
    font-weight: normal;
    color: #3a3a3a;
    line-height: 36px;
    margin-bottom: 6px;
    position: relative;
}

.titleElement h1:after {
    content: attr(title);
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    padding: 0px;
    z-index: -1;
}

 .titleElement h2 {
    font-family: 'helveticaneueRoman';
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #3a3a3a;
}

/* titleElement */