<div class="row">
<div class="homepageWelcomeText">
<div class="landingWrapper elementWrapper landingPage ">
    <div class="opaque"></div>
<!--     <div class="spriteIcon logotabit"></div> -->
    <div class="landingScreen"></div>
	<div class=logoremedi>
					<img src="<%=element.imgpath%>" border="0"/>
				</div>
	
        <h1><%= element.heading%></h1>
        <div class="landingInfo"><%= element.content%></div>
		<div class="companyname"><%=element.companyname%></div>
		</br>
        <a href="#<%= element.action%>" class="beginLink">
        <button type="button" class="btn btn-success btn-lg"><%= element.name%></button></a>
</div>
    
<!--<a href="#<%= element.action%>" class="beginLink"><%= element.name%><i class="spriteIcon"></i></a>-->
</div>
</div>
