<div class="videoElement clearfix">
    <!-- <div class="preview flLeft">

    </div>
    <div class="countOnCorolla flLeft">
          <h2><%=element.heading%></h2>
          <div class="playButton"><%=element.buttonHeading%></div>
    </div> -->
    
    <video controls preload="metadata" class="videosize" height="100%" >
  				<source src="<%=element.videopath%>" type="video/mp4">
  				<!-- <source src="<%=element.videopathwebm%>" type="video/webm"> -->
  				<!-- <source src="video/Guidemark Healthv1.webm" type="video/webm"> -->
  				<!-- <object data="<%=element.videopath%>" controls>
    				<embed src="<%=element.videopath%>">
  				</object>  -->
	</video>
    
</div>