/*interior modal box*/
.intModal0{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/dashboard.jpg");
}
.intModal1{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/instrumentCluster.jpg");
}
/*.intModal2{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/chpView.jpg");
}
.intModal3{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/angularAudioSystem.jpg");
}*/
.intModal4{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/dashboard.jpg");
}
.intModal5{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/dashboard.jpg");

}
.intModal6{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/gearShift.jpg");

}
.intModal7{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/dashboard.jpg");

}
.intModal8{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/dashboard.jpg");
}
.intModal9{
    background:url("../img/lowRes/vehicles/corolla/interior360/modalBox/rearSeat.jpg");

}

.touchslider-item img.dashboard0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/dashboard.jpg");
}
.touchslider-item img.dashboard1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/dashboard1.jpg");
}
.touchslider-item img.dashboard2{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/dashboard2.jpg");
}
.touchslider-item img.instrumentcluster0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/instrumentCluster.jpg");
}
.touchslider-item img.instrumentcluster1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/instrumentCluster1.jpg");
}
.touchslider-item img.steeringwheel0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/steeringWheel1.jpg");
}
.touchslider-item img.steeringwheel1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/steeringWheel1.jpg");
}
.touchslider-item img.steeringwheel2{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/steeringWheel2.jpg");
}
.touchslider-item img.steeringwheel3{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/steeringWheel3.jpg");
}
.touchslider-item img.audio0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/audio.jpg");
}
.touchslider-item img.audio1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/audio1.jpg");
}
.touchslider-item img.audio2{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/audio2.jpg");
}

.touchslider-item img.instrumentpanel0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/instrumentPanel.jpg");
}
.touchslider-item img.instrumentpanel1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/instrumentPanel1.jpg");
}

.touchslider-item img.climatecontrol0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/climateControl1.jpg");
}
.touchslider-item img.climatecontrol1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/climateControl1.jpg");
}
.touchslider-item img.climatecontrol2{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/climateControl2.jpg");
}

.touchslider-item img.gearshift0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/gearShift.jpg");
}
.touchslider-item img.gearshift1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/gearShift1.jpg");
}
.touchslider-item img.gearshift2{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/gearShift2.jpg");
}
.touchslider-item img.frontseat0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/frontSeat.jpg");
}
.touchslider-item img.frontseat1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/frontSeat1.jpg");
}
.touchslider-item img.frontseat2{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/frontSeat2.jpg");
}
.touchslider-item img.rearseat0{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/rearSeat.jpg");
}
.touchslider-item img.rearseat1{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/rearSeat1.jpg");
}
.touchslider-item img.rearseat2{
    background-image: url("../img/lowRes/vehicles/corolla/interior360/modalBox/rearSeat2.jpg");
}

.intCompareModal0{
    background:url("../img/lowRes/new1.jpg");

}



/*interior modal box*/